.auth-layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
}

.auth-box {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 400px;
}